body
{
    color: black;
    background-image: url("../images/bg.png");
    background-color:rgba(255,255,255,0.7);
    background-blend-mode:lighten;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center bottom;
}


div#main
{
    border-radius: 5px;
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
    background-color: rgba(255, 255, 255, 0.4);
}